html {
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  padding: 5px 10px;
}
h1:hover {
  cursor: pointer;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
a {
  color: inherit;
}
#polygon-ref {
  font-size: 12px;
}
#search-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60%;
}
#search-description {
  font-size: 22px;
  font-weight: 200;
}
#search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 40px 0px;
}
#results {
  display: flex;
  flex-direction: row;
}
#search-results {
  display: flex;
  flex-direction: row;
}
.result-name {
  padding: 15px 10px;
  margin: 10px 0px;
  border: solid 1px #1976d2;
  border-radius: 3px;
}
.result-name:hover {
  background-color: #e0eefc;
  cursor: pointer;
}
#no-result-msg {
  font-size: 18px;
}
#coin-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
.info-container {
  border: 1px solid #1976d2;
  border-radius: 10px;
  min-height: 300px;
  min-width: 400px;
  padding: 5px 15px;
  margin: 10px 15px;
}
.module-header {
  font-size: 24px;
  font-weight: 400;
  padding: 5px 0px;
  color: #1360ad;
}
#data-coin-symbol {
  font-size: 26px;
  font-weight: 600;
}
#data-coin-price {
  font-size: 20px;
  line-height: 1.5;
  margin: 5px 0px;
}
.article-container {
  padding: 5px 2px;
}
.article-container:hover {
  background-color: #e0eefc;
  border-radius: 5px;
}
.article-divider {
  color: #0b3966;
}
.watchlist-coin-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
}
.watchlist-coin-container:hover {
  background-color: #e0eefc;
  cursor: pointer;
  border-radius: 5px;
}
.watchlist-coin-container:active {
  background-color: #b8d6f5;
}
.watchlist-coin-name {
  font-size: 20px;
  line-height: 1.5;
}
.watchlist-coin-price {
  font-size: 15px;
}
.delete-icon:hover {
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.delete-icon:active {
  transform: scale(0.9);
}
